on:
 push:
   branches: # when someone pushes to main  or feature branch
      - 'feature/**'
   paths:
      - '**.js'
      - '**.py'
      - '**.tf'
   tags:
      - 'R1.**'
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: 'dev'

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
    steps:
    # Checkout the repository to the GitHub Actions runner
    
    - name: Checkout
      uses: actions/checkout@v3
    - name: Check object
      run: |
          cat << OBJECT
          ${{ toJson(github) }}
          OBJECT

