on:
 push:
   branches: # when someone pushes to main  or feature branch
      - 'feature/**'
   paths:
      - '**.js'
      - '**.py'
      - '**.tf'
   tags:
      - 'R1.**'
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

